<body>
    <style>
        body {
            background-image: url('../../images/sj-objio-xfwizta2ub0-unsplash.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>


    
        <div class="gallery">
            <a target="_blank" href="~/images/20221217_162601.jpg">

                <img src="~/images/20221217_162601.jpg" width="600" height="400">
            </a>

        </div>

        <div class="gallery">
            <a target="_blank" href="~/images/20221217_162624.jpg">
                <img src="~/images/20221217_162624.jpg" width="600" height="400">
            </a>

        </div>

        <div class="gallery">
            <a target="_blank" href="~/images/20221217_162630.jpg">
                <img src="~/images/20221217_162630.jpg" alt="Northern Lights" width="600" height="400">
            </a>

        </div>

        <div class="gallery">
            <a target="_blank" href="~/images/rodinka.jpg">
                <img src="~/images/rodinka.jpg" alt="Mountains" width="600" height="400">
            </a>

        </div>
    
</body>
