
    <div>
        <style>
            body {
                background-image: url('../../images/georgie-cobbs-bkjhgo_lbpo-unsplash.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: auto;
            }
        </style>
        <div class="content" style="padding-bottom:50px;">
            <table style="width:71%">
                <tr>
                    <th>Zamestnanie</th>
                    <th>Pozícia</th>
                    <th>Dátum ukončenia</th>
                </tr>
                <tr>
                    <td>Obsluha čerpacej stanice</td>
                    <td>Umývač áut</td>
                    <td>2004</td>
                </tr>
                <tr>
                    <td>Tepláreň Handlová</td>
                    <td>Chemik úpravár vody</td>
                    <td>2007</td>
                </tr>
                <tr>
                    <td>Aerospool s.r.o.</td>
                    <td>Technický kontrolór</td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td>GeWiS s.r.o.</td>
                    <td>Nastavovač CNC strojov</td>
                    <td>Dúfam, čoskoro</td>
                </tr>
            </table>
            <div class="text">
                <p style="width:71%">
                    Vo všetkých týchto zamestnaniach som dosiahol,myslím, celkom dobré výsledky, čo sa kariérneho postupu týka (teda okrem umývača
                    áut..tam postúpiť nie je kde &#128517;). Mojím heslom je <b>"Nie dokonalosť, ale progres"</b>. Pozeranie na problém
                    z iných uhlov pohľadu. Niekedy to samozrejme nevyšlo, no veľa krát tento pohľad pomohol. Lebo zaužívané postupy, nemusia
                    byť vždy najlepšie, a nový postup zlepšil kvalitu za kratší čas.
                    <br />
                    <br />
                    Ale ani práca, ktorú robím teraz, ma neuspokojuje. Myslím, že chcieť viac, pokiaľ si človek myslí,
                    že na to má, nie je "hriech". Preto chcem skúsiť <br />aj túto cestu..cestu IT.
                    <br />
                    Túto stránku ukladám aj na GitHub-e. Teda aspoň to skúšam.
                </p>
            </div>
        </div>
       


    </div>



